body{
  margin: 0;
  padding: 0;
  background: #FFFFFF;
  font-family: Roboto;
}
main{
  color: #000000;
}

@media (max-width: 91200px){
.header{
  /* position: fixed;
  top: 0;
  left: 0; */
  width: 100%;
  height: 85vh;
  color: #FFFFFF;
  background-image: url(/images/coffee.jpg);
  background-size: cover;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* #header-back-image {
  background-position: center;
  background-size: cover;
  position: relative;
  width: 100%;
  z-index: -1;
} */

.navi{
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}


#logo-navbar{
  filter: brightness(0) invert(1);
  weight: 35px;
  height: 35px;
  position: absolute;
  top: 15px;
  left: 103px;
}

.navi .right{
  display: flex;
  flex-direction: row;
  padding-right: 120px;
}

.navi .right .navi-link{
 order: -1;
}


.navi .right .navi-link ul li a{
  margin-left: 30px;
}
.navi .right .navi-link ul li p{
  font-size:18px;
}

#shop-icon-navbar{
  padding-top: 30px;
  width: 19px;
  height: auto;
  margin-left: 10px;
  
}

#burger-icon-navbar, #close-icon-navbar{
  visibility: hidden;
  @media (max-width: 576px){
    visibility: visible;
  }
} 

.text-box{
  /* width: 50%; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.text-box label{
  display: block;
}

#rustica-navbar{
 font-size: 96px;
 font-weight: 900;
}

#bio-und-fair-navbar{
  font-size: 18px;
  font-weight: 400;
}

#zum-shop-navbar{
  text-decoration: none;
  color: #fff;
  border-radius: 5px;
  border: 2px solid #1A1A1A;
  background-color: #1A1A1A;
  font-size: 14px;
  padding: 13px 50px;
  display: inline-block;
  position:relative;
  top: 130px;
}

/* ---Rötterei & Cafe--- */
.coffe-shop{
  margin: 15vh 10vh;
  display: flex;
  justify-content: space-between;
}

.coffe-shop-txt{
  padding-right: 30vh;
}
.coffe-shop-txt .info{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* ---Cafe Plant--- */
.coffe-plant{
  margin: 15vh 10vh;
  display: flex;
  justify-content: space-between;
}

.coffe-plant-txt{
  padding: 10vh 20vh;
  display: 
}
.coffe-plant-txt .info{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/* ---caffee sort--- */

}


@media (max-width: 576px)
{
  .text-box{
    /* width: 50%; */
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  #logo-navbar{
    width: 35px;
    height: 35px;
    top: 10px;
    left: 24px;
  }

  .header .navi .right {
    position: relative;
  }

  #burger-icon-navbar, #close-icon-navbar{
    filter: brightness(0) invert(1);
    display: block;
    margin: 20px;
    width: 23px;
    height: auto;
    position: absolute;
    top: -6px;
    right: 15px;
  }

  #close-icon-navbar{
    z-index: 3;
    top:10px;
  }

  #shop-icon-navbar{
    visibility: hidden;
  }

  #rustica-navbar{
    font-size: 40px;
   }
   #bio-und-fair-navbar{
    font-size: 10px;
  }
  
  #zum-shop-navbar{
    font-size: 8px;
    padding: 6px 30px;
    top: 60px;
  }
   
  .navi .right .navi-link{
    position: absolute;
    background: black;
    height: 100vh;
    width:60vh;
    top:0;
    right:0px;
    text-align: left;
    z-index:2;
    transition: 1s;
   }
   
   .navi .right .navi-link ul{
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     padding-top: 80px;
   }

   .navi .right .navi-link ul li a p{
      font-size: 32px;
      font-weight: 900;
      padding: 0px 30px;
      margin:0px;
  }
}