<link rel="stylesheet" href="../css/components/footer.css">
<footer class="footer-D">
  <img src="../icon/logo.png" alt="">
  <section class="information">
    <div class="footer-Left">
        <h3>Rustica</h3>
        <span>Café & Rösterei</span>
    </div>
    <div class="place-time">
        <div class="footer-adress">
            <span >Komm uns besuchen!</span>
            <span>Fraunhoferstr. 13, Kiel</span>
        </div>
        <div class="footer-time">
            <span >Mo – Fr 8–18 Uhr</span>
            <span>Sa 11–18 Uhr</span>
        </div>
    </div>
        <ul class="menue">
            <li><a class="active" href="">Caf'e</a></li>
            <li><a href="">Shop</a></li>
            <li><a href="">Herkunft</a></li>
            
        </ul>
        <ul class="info">
            <li><a href="">Impressum</a></li>
            <li><a href="">Datenschutz</a></li>
        </ul>
  </section>
</footer>