*{
  box-sizing: border-box;
}
body {
  font-family: Roboto, sans-serif;
  margin: 0px;

  @media (min-width: 768px) {
    color: white;
  }
}

main {
  margin: 0 auto;
  max-width: 1440px;

  & div {
    color: yellow;

    @media (min-width: 768px) {
      color: var(--div-color);
    }
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* img {
  max-width: 100%;
  height: auto;
} */

h1 {
  font-weight: var(--h1-font-weight);
}

h2 {
  font-size: var(--h2-font-size);
  font-weight: var(--h2-font-weight);
}